form {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form_input{
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 400px;
    min-height: 40px;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

button#submit {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #49B4BB
}

::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color:  #A8A8A8;
}
.form-group{
    margin-bottom: 0px;
}

.btn-primary {
    border-color: transparent;
}

#criarUser{
    background-color: #49B4BB;
    width: 180px;
    height: 40px;
}

#checkbox {
    font-size: 14px;
    color:  #A8A8A8;
    min-width: 400px;
    min-height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 8px;
    margin-top: 0%;
    display: flex;
    align-items: center;
}
#buttons {
    outline: 0;
    padding: 10px;
    align-items: left;
}

#cancelRegistration {
    margin: 5px;
    color: #49B4BB;
    background-color: #ffffff;
    border-style: none;
    width: 180px;
    height: 40px;
}
h1 {
    margin: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.field-icon {
    margin-left: -40px; 
    color: #A8A8A8;
    width: 26px;
    height: 18px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}