<div class='container'>
    <form #registration="ngForm"  (ngSubmit)="registerUser()">
        <h1>Crie sua conta</h1>
        <div class="form-group">
            <input 
                class="form_input"
                type="text"
                id="insertName"
                placeholder="Nome"
                name="name"
                required
                minlength="5"
                ngModel
                #inputName="ngModel"
            >
            <small *ngIf="inputName.value!=''&&inputName.invalid" class="form-text text-danger">Nome inválido</small>
        </div>
        <div class="form-group">
            <input
                class="form_input"
                type="email"
                id="insertEmail"
                placeholder="Email"
                name="email"
                required
                minlength="10"
                ngModel
                #inputEmail="ngModel"
            >
            <small *ngIf="inputEmail.value!=''&&inputEmail.invalid" class="form-text text-danger">Email inválido</small>

        </div>
        <div class="form-group">
            <input
                type="password"
                class="form_input"
                id="insertPassword"
                name="password"
                placeholder="Senha"
                required
                minlength="6"
                ngModel
                #inputPassword="ngModel"
            >
            <span (click)="showPassword()" toggle="#insertPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <small *ngIf="inputPassword.value!=''&&inputPassword.invalid" class="form-text text-danger">Senha inválido</small>
        </div>
        <div class="form-group">
             <input
                type="password"
                class="form_input"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirmar Senha"
                required
                minlength="6"
                ngModel
                #inputConfirmPassword="ngModel"
            >
            <span (click)="showConfirmPassword()" toggle="#confirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <small *ngIf="inputConfirmPassword.value!=inputPassword.value" class="form-text text-danger">As senhas estão diferentes</small>
        </div>
        <div class='buttons'>
            <a class="btn btn-primary" href="/login" class="btn btn-primary" id="cancelRegistration">Cancelar</a>
            <button type="submit" class="btn btn-primary" id="criarUser">Confirmar</button>
        </div>
    </form>
</div>
