<div class='container'>
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" novalidate>
        <h1>Crie sua conta</h1>
        <div class="form-group">
            <input
                class="form_input"
                type="text"
                id="insertName"
                placeholder="Username"
                name="name"
                formControlName="name"
            >
            <small *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched" class="form-text text-danger">nome inválido, quantidade mínima de caracteres igual à 6</small>
        </div>
        <div class="form-group">
            <input
                class="form_input"
                type="email"
                id="insertEmail"
                placeholder="Email"
                name="email"
                formControlName="email"
            >
            <small *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched" class="form-text text-danger">formato de email inválido</small>
        </div>
        <div class="form-group">
            <input
                type="password"
                class="form_input"
                id="insertPassword"
                name="password"
                placeholder="Senha"
                formControlName="password"
            >
            <span id="passwordIcon" (click)="showPassword()" toggle="#insertPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <small *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched" class="form-text text-danger">nome inválido, quantidade mínima de caracteres igual à 8</small>
        </div>
        <div class="form-group">
             <input
                type="password"
                class="form_input"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirmar Senha"
                formControlName="confirm_password"
            >
            <span id ="confirmPasswordIcon" (click)="showConfirmPassword()" toggle="#confirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <small *ngIf="registrationForm.get('confirm_password').invalid && registrationForm.get('confirm_password').touched" class="form-text text-danger">as senha não são iguais</small>
        </div>
        <div class='buttons'>
            <a class="btn btn-primary" href="/login" class="btn btn-primary" id="cancelRegistration">Cancelar</a>
            <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary" id="criarUser">Confirmar</button>
        </div>
    </form>
</div>
