<div class='container'>
    <form (submit)="loginUser($event)">
        <div class="logo">
            <img src="../../assets/medicar_logo.png" alt="logo">
        </div>
        <div class="form-group">
            <input class="form_input" type="text" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <input class="form_input" type="password" id="password" placeholder="Senha">
            <span id="icon_password" (click)="showPassword()" toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <small hidden class="form-text text-danger" id="hiddenMessage">usuário ou senha incorreta</small>
        <div class="form-group form-check" id="checkbox">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="rememberme"> lembrar minha senha
            </label>
        </div>
        <div class='buttons'>
            <a class="btn btn-primary" id="criarConta" href="/registration" id="criarConta">Criar Conta</a>
            <button type="submit" class="btn btn-primary" id="acessar">Acessar</button>
        </div>
    </form>
</div>